{% extends "layout.html" %}

{% block content %}

<h2></h2>

<div class="jumbotron">
  <h2>Todo ID: {{ todo.id }}</h2>
  <p>Description:</p>
  <p> {{ todo.description }}</p>
  <div>
	<p>Completed: 
	  {% if not todo.is_completed %}
  	  <input type="checkbox"
			 onchange="toggleCompleted(this, {{ todo.id }});"/>
      {% else %}
  	  <input type="checkbox" checked="checked"
			 onchange="toggleCompleted(this, {{ todo.id }});"/>
	  {% endif %}
	</p>
  </div>
  <p><small>User: {{ todo.user_id }}</small></p>
  
  <div class="row">
	<a class="btn btn-primary btn-lg"
	   href="/todo" role="button">Back</a>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript"
		src="{{ url_for('static', filename='js/todo.js') }}">
</script>
{% endblock %}
